.wrap {
  background-color: #fff;
  padding: 20px;
  h1 {
    font-size: 30px;
    color: rgb(12, 1, 95);
    margin: 30px 0;
  }
  p {
    margin: 30px 0;
  }
}
.pd20 {
  padding: 20px;
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}

.tableExpandLayout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  h4 {
    font-size: 18px;
    padding: 16px 0;
    color: rgb(73, 72, 72);
    font-weight: bold;
  }
}
